.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
.DS_Store
AMAS_ref/
chroma_ref/
docs/
chroma_storage/
tests/prev_results/
tests/autoType/

**/chebi_kegg.json
**/chebi.owl.gz
**/kegg_compound_flats
**/reaction_flats

# subfolders for LLM response cache
tests/results/**

.vscode/

# testing files
**/scratch.ipynb
**/participants_likelihood*.csv
**/reaction_likelihood*.csv